<div class="mx-auto mt-4 lg:container">
  <div class="py-4 sm:px-8 bg-white rounded-xl dark:bg-night-700">
    <div class="text-center mt-10 mb-16">
      <h1 svp-header class="">Add New Project</h1>
    </div>
    
    <form [formGroup]="projectForm">
      <div class="grid grid-cols-3 gap-6">
        <div class="space-y-2">
          <label svp-label for="title">Project Title</label>
          <input
            type="text" class="svp-input"
            formControlName="title"          
            placeholder="Completed Projects"/>
          <svp-validation-errors [svpControl]="projectForm.get('title')" />
        </div>

        <div class="space-y-2">
          <label svp-label for="sizeOfSite">Site Size</label>
          <input
            type="text"
            formControlName="sizeOfSite"          
            placeholder="Site size"/>
          <svp-validation-errors [svpControl]="projectForm.get('sizeOfSite')" />
        </div>
        
        <div class="space-y-2">
          <label svp-label for="location">Building Location</label>
          <input
            type="text" placeholder="Building Location"
            formControlName="location"/>
          <svp-validation-errors [svpControl]="projectForm.get('location')" />
        </div>

        <div class="space-y-2">
          <label svp-label for="startDate">Start Date</label>
          <input
            type="date"
            formControlName="startDate"/>
          <svp-validation-errors [svpControl]="projectForm.get('startDate')" />
        </div>

        <div class="space-y-2">
          <label svp-label for="dueDate">Due Date</label>
          <input
            type="date"
            formControlName="dueDate"/>
          <svp-validation-errors [svpControl]="projectForm.get('dueDate')" />
        </div>

        <div class="space-y-2">
          <label svp-label for="budget">Budget</label>
          <input
            type="number" placeholder="what is the estimated budget of the project"
            formControlName="budget"/>
          <svp-validation-errors [svpControl]="projectForm.get('budget')" />
        </div>

        <div class="space-y-2">
          <label svp-label for="type">Building Type</label>
          <ng-select [items]="projectTypes$ | async"
            [addTag]="true"
            [multiple]="false"
            [hideSelected]="true"
            [trackByFn]="trackByFn"
            [minTermLength]="2"
            [loading]="projectTypeLoading"
            placeholder="Select a type"
            typeToSearchText="Please enter 2 or more characters"
            [typeahead]="projectTypeInput$"
            formControlName="type">
          </ng-select>
          <svp-validation-errors [svpControl]="projectForm.get('type')" />
        </div>
        
        <div class="space-y-2 col-span-2">
          <label svp-label for="surroundingFacilities">Facilities surrounding site and on site</label>
          <input
            type="text" placeholder="duplex, shopping mall, e.t.c"
            formControlName="surroundingFacilities"/>
          <svp-validation-errors [svpControl]="projectForm.get('surroundingFacilities')" />
        </div>

        <div class="space-y-2 col-span-2">
          <label svp-label for="description">Project Information</label>
          <textarea cols="5" rows="8"
            type="text" placeholder="Please provide detailed information about your project"
            formControlName="description"> </textarea>
          <span class="text-primary-500 -mt-1">
            @if (descriptionCount == 0) {
              <small>Max 500 characters</small>
            }
            @else if (descriptionCount < 5000) {
              <small class="text-green-500">{{descriptionCount}}/5000</small>
            }
            @else if (descriptionCount > 5000) {
              <small class="text-red-500">{{descriptionCount}}/5000</small>
            }
          </span>
          <svp-validation-errors [svpControl]="projectForm.get('description')" />
        </div>

        <div class="w-full h-full row-span-2">
          <label svp-label for="design" [marginBottom]="6">Project Design</label>
          <div class="w-full mb-2"></div>
          <svp-file-selector svpId="design" [svpForm]="projectForm" [height]="10" (onFileChanged)="onDesignFileChanged($event)" />
          <svp-validation-errors [svpControl]="projectForm.get('design')" />
        </div>      
      </div>

      <div class="mx-auto mt-16 mb-4 text-center">
        <button svp-neutral (click)="submitForm()">
          Submit Form
        </button>
      </div>
    </form>

  </div>
</div>