@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "boxicons";

@import "./assets/styles/ng-select.scss";
@import "./assets/styles/table.scss";

@layer base {
	[type='text'],
	[type='email'],
	[type='url'],
	[type='password'],
	[type='number'],
	[type='date'],
	[type='datetime-local'],
	[type='month'],
	[type='search'],
	[type='tel'],
	[type='time'],
	[type='week'],
	[multiple],
  input
	textarea,
	select {
		@apply w-full rounded-md border border-gray-300 px-3 py-3 text-xs placeholder-gray-400 focus:z-10  focus:border-primary-500 focus:outline-none focus:ring-primary-500 dark:border-night-500 dark:bg-night-700 dark:text-night-200 dark:placeholder-night-200;
	}

	[type='checkbox'],
	[type='radio'] {
		@apply h-4 w-4 rounded border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-night-600 dark:bg-night-700 dark:ring-offset-night-800 dark:focus:ring-primary-600;
	}
}

@layer components {
	.dropdown-content { 
		@apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;
	}

	.dropdown:hover > .dropdown-content {
		@apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
	}

  .iziToast-color-green {
    @apply bg-primary-900;
  }
}

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
	.supports-scrollbars\: pr-2 {
		padding-right: 0.5rem;
	}
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d67e2a;  /* color of the scroll thumb */
  transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d67e2a
}


/** Plugins **/
@import './assets/styles/apexchart.scss';
